<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will trigger Vmware build script on Ansible server 192.168.1.63</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.8"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <org.jvnet.hudson.plugins.SSHBuildWrapper plugin="ssh@2.4">
      <siteName>root@192.168.1.63:22</siteName>
      <preScript>cd /mnt/automation/build-automation
 ./buildTvault.sh</preScript>
      <postScript></postScript>
    </org.jvnet.hudson.plugins.SSHBuildWrapper>
  </buildWrappers>
</project>